<h1>All Authors</h1>

<% @authors.each do |author| %>


  <%# link_to(author.name, "/authors/#{author.id}" ) %>
  <%# link_to(author.name, author_path(author.id)) %>
  <%# link_to(author.name, author_path(author)) %>
  <%= link_to(author.name, author) %>

<% end %>
